svg {
  /* outline: 1px solid navy; */
}

G.santa-pixels rect {
  /* fill: none; */
  stroke: rgb(204, 208, 227);
  stroke-width: 1;
  stroke-opacity: 0.1;
}

G.santa-hits rect {
  fill: none; 
  stroke: rgb(204, 208, 227);
  stroke-width: 1;
  stroke-opacity: 0.8;
}

G.santa-pixels rect.printed {
  fill: rgb(153,158,167);
}

G.arms line {
  stroke: blue;
  fill: purple;
  fill-opacity: 0.5;
  stroke-opacity: 0.8;
  stroke-width: 3;
}

/* P A G E L A Y O U T */
.even-columns {
  outline: 1px solid navy;
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em){

  .even-columns {
    outline: 1px solid navy;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

  }
}